<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Vidgrab</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <style type="text/css" media="screen">
    body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }

    #wrapper {
      flex: 1;
    }

    #footer {
      padding-top: 2em;
      padding-bottom: 2em;
    }

    .bookmarklet {
      border: 1px dashed black;
      padding: 10px 20px 10px 20px;
    }
  </style>
</head>

<body>
  <div id="wrapper">
    <section class="section has-background-light">
      <div class="container">
        <nav class="level">
          <h1 class="title is-1 level-item has-text-centered">Vidgrab</h1>
        </nav>
        <div>
    </section>

    {{{body}}}

  </div>

  <footer id="footer" class="footer">
    <div class="content has-text-centered">
      <p>
        Code and "Design" by <a href="#">Ted Kulp</a>. Based on youtube-dl.
      </p>
    </div>
  </footer>
</body>

</html>